<% if @restaurants.any? %>
<h2><% @restaurants.each do |restaurant| %>
  <%= restaurant.name %></h2>
  <% end %>
<% else %>
  No restaurants yet
<% end %>

<%= link_to "Add a restaurant", new_restaurant_path %>