<%= @restaurant.name %>

<%= @restaurant.description %>

<ul>
<% @restaurant.reviews.each do |review| %>
    <li><%= "Description: #{review.review} Rating: (#{review.rating})" %></li>
<% end %>
</ul>

<%= link_to "Return to restaurants", restaurants_path %>