/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    margin: 8% 0 0 5%;
}

h1 {
    margin: 10px 0 10px 5%;
    font-family: 'Lobster', cursive;
    font-size: 48px;
}

h2 a {
    text-decoration: none;
    color: #000;
}

.navbar-default {
    background-color: #FFEEE3;
}

.navbar-right {
    margin: -4% 5% 0 0;
}

.btn-info {
    background-color: #33CCCC;
    border-color: #33CCCC;
}

.btn-info a {
    color: #fff;
}

.glyphicon a {
    font-size: 0;
}

 .reviews li {
    list-style: none;
    padding: 1%;
    border: 3px solid #EDEDF3;
    border-radius: 10px;
    width: 50%;
    margin: 0 0 1% -4%;
 }

 .ratings {
    float: right;
 }

 .time-stamp {
    font-style: italic;
 }

.thumbnail {
    margin-top: 1%;
    width: 8%;
    padding: 0;
}

.edit {
    line-height: 0;
    font-size: 0;
    color: transparent;
    display: inline;
}